
.carruselTamaño{
    height: 50rem;
}

.textoPrimarioColor{
    color: rgba(80,138,131,1);

}

#row-cursos{
    background-color: #68606f;
    img{
        width: 12rem;
        height: 12rem;
    }
    p{
        color: aliceblue;
    }
}

.row{
    margin: 0;
}

#row-cursos img{
    border-radius: 100%;
}