/*Media Index*/
@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    } 
#local {
    flex-wrap: wrap;
    padding-top:30px;
}
.wrapper-local {
width:90%;
margin:auto;
padding-top:50px;    
}
}

/*Media Nosotros*/
@media (max-width:768px) {

    #intro, #equipo{
        width:100% !important;
        margin:auto;
        p{
            display: none;
        }
    }

    
    #imgEquipo{
        max-height:20rem !important;
        width:90%;
    }
}